  </body>

  <script>
let popup = document.getElementById("popup-1")
let closepopup = document.getElementById("close")

    function openPopup() {
        popup.style.display = "block";
      }
      function closePopup() {
        closepopup.getElementById("popup-1").style.display = "none";
      }
  </script>

</html>