  </body>

  <script>
let popup = document.querySelector(".hexSolo")


    function openPopup() {
      // popup is standaard op gestyld op none. Deze functie veranderd de display van none naar block
        popup.style.display = "block";
      }
     
  </script>

</html>