<%- include('./partials/head') %>
<div class="tempCenter">
  <h1>FDND Squadpage</h1>
  <h2 class="headerFont">Pick a</h2>
  <header>
    <input type="color" />
    <h2>color</h2>
  </header>
  <h2 class="mediumFont">Get to know us</h2>

  <div class="hexWrapper">
    <!-- start hexagon color picker -->
    <div class="hexGreen"></div>

    <div class="hexYellow"></div>
    <div class="hexRed"></div>

    <!-- end hexagon color picker -->

    <!-- start individual hexagon -->

    <div class="soloHex"></div>

    <!-- end individual hexagon -->
  </div>
</div>

<%- include('./partials/foot') %>
