*{
  box-sizing: border-box;
}

 h1{
  font-size: 25px;
}
header > h2{
  font-size: 10rem;
  margin: 0 auto;
  text-align: center;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  left: 25%;
  position: relative;
  z-index: 1;
  
}

body{
  background: linear-gradient(lightblue, blue);
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  max-width: 30rem;
  width: 100%;
}
nav{
  margin: 1rem 0 1rem 8rem;
  position: relative;
}
button {
  margin: 30px 0 0 0;
  width: 104px;
  height: 60px;
  background-color: lightgreen;
  border:none;
  position: relative;
  display: inline-block;
  font-size: 30px;

}
button:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 30px solid;
  border-color: lightgreen;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
  left: 0;
}
button:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid;
  border-color:lightgreen;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  left: 0;
}
/* homescreen nav */


.nav-home-position-A{
top: 3.1em;
left: 3.5rem;
}


.nav-home-position-C{
  top: 3.1em;
  left: -3.4rem;
 }
/* bottom hexagon boxes */
 .hex-wrapper{
  
  display: flex;
 flex-direction: column;
  max-width: 30rem;
  width: 100%;
  position: relative;
  left: 15%;
  
  
 }

 .hexagon {
  margin-top: 20rem;
  width: 416px;
  height: 240px;
  background-color: lightgreen;
  border:none;
  position: relative;
  align-items: center;
 
}

.hexagon:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 120px solid;
  border-color: lightgreen;
  border-left: 208px solid transparent;
  border-right: 208px solid transparent;
  position: absolute;
  top: -120px; 
  left: 0;
}
.hexagon:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -120px;
  border-top: 120px solid;
  border-color:lightgreen;
  border-left: 208px solid transparent;
  border-right: 208px solid transparent;
  left: 0;
}

.hexagon > h2{
  text-align: center;
}



/* clicked nav
 .straight-nav{
  display: flex;
  justify-content: space-between;
  

 }
.nav-second-screen-position-A{
  
  order: 1;
  

}

.nav-second-screen-position-B{
 
  order: 2;
 
}

.nav-second-screen-position-C{
 
  order: 3;
 

} */