*{
  box-sizing: border-box;
  
}
body{
  background-image: linear-gradient( #008fb3,  #b3ffff
  );
  overflow-x: hidden;
}

header{
  display: flex;
  position: relative;
  flex-direction: row;
 
  
}

.headerFont{
  font-size: 7rem;
  margin: 0;
}

header > h2{
  margin: 0;
  font-size: 6rem;
}

header > input{
  margin: 40px 19px 19px 0;
  height: 3rem;
  width: 5rem;
}

.mediumFont{
  
  
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

/* THIS BEAUTY IS ONLY TEMPORARY FOR NOW */

@media (min-width:800px){
  .tempCenter{
    position: relative;
    left: calc(50% - 10%);
  }
}


/* variables */
:root{
  --hexGreen: green;
  --hexRed: red;
  --hexYellow: yellow;
}
.hexGreen {
 
  margin: 4rem 0 0 7rem;
  width: 208px;
  height: 120px;
  background-color: var(--hexGreen);
  border-color: var(--hexGreen);
  position: relative;
  display: inline-block;
  
}

.hexGreen:before {
  content: " ";
  width: 0; 
  height: 0;
  border-bottom: 60px solid;
  border-color: inherit;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
  position: absolute;
  top: -60px;
}
.hexGreen:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -60px;
  border-top: 60px solid;
  border-color: inherit;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
}

.hexRed {
  margin: 4rem 0 0 7rem;
  
  width: 208px;
  height: 120px;
  background-color: var(--hexRed);
  border-color: var(--hexRed);
  position: relative;
  display: inline-block;
}

.hexRed:before {
  content: " ";
  width: 0;
   height: 0;
  border-bottom: 60px solid;
  border-color: inherit;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
  position: absolute;
  top: -60px;
}
.hexRed:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -60px;
  border-top: 60px solid;
  border-color: inherit;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
}

.hexYellow {
  z-index: 1;
  margin-top: 4rem;
  width: 208px;
  height: 120px;
  background-color: var(--hexYellow);
  border-color: var(--hexYellow);
  position: relative;
  display: inline-block;
}

.hexYellow:before {
  content: " ";
  width: 0; 
  height: 0;
  border-bottom: 60px solid;
  border-color: inherit;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
  position: absolute;
  top: -60px;
}
.hexYellow:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -60px;
  border-top: 60px solid;
  border-color: inherit;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
}


.hexWrapper{
  max-width: 30rem;
  width: 100%;
  position: relative;
  
}
